.container__purcharse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1em;
    margin: 15px;
  }

.container__purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 10px 0;
}

.container__name-purchase {
    list-style: none;
    color: black;
    font-size: 14px;
}

.container__purchase-li {
    width: 350px;
    height: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    border-radius: 5px;
}

.container__purchase-li:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 10px #0003;
    transition: box-shadow 200ms ease, transform 200ms ease;
    cursor: pointer;
}
@media screen and (max-width: 1030px) {
    .container__purcharse {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 720px) {
    .container__purchase {
        margin: 40px 0;
    }

    .container__purcharse {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 40px 0;
    } 
}



